@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@media (max-width:991px){
    .header{
        display: none;
        
    }
    .headers_cnt{
        text-align: center;
        background-color: black;
    }
    .headers_cnt p{
        color: #FFF;

    /* Paragraph/body text */
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    }

    .About_cnt h4{
        font-size: 30px;
    }
    .About_cnt p a{
        font-size: 10px;
    }
    #info{
        display: none;
    }
    #information{
        margin-top: 20px;
    }
   
    .information_cnt{
        background: var(--Comon-Colot, #FFF);
        padding: 50px 20px 0 20px;

/* 42 */
box-shadow: 0px 5px 30px 0px rgba(17, 22, 30, 0.08);
border: 1px solid rgb(239, 234, 234);
height: 346px;
width: 100%;
margin-bottom: 10px;

    }
    .phones{
        width: 20px;
height: 20px;
color: #FF6F61;
    }
    .details{
        color: var(--Text-Color, #11161E);

/* Heading - H4 */
font-family: "Josefin Sans";
font-size: 12px;
font-style: normal;
font-weight: 700;
padding-left: 10px;

    }
    .information_cnt p{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
margin-left: 10.5%;

    }
    .information_cnt h6{
        color: var(--Text-Color, #11161E);

/* Heading - H6 */
font-family: "Josefin Sans";
font-size: 12px;
font-style: normal;
font-weight: 600;
margin-left: 10.5%;
margin-top: 10px;

    }
    .phonesssss{
        margin-left: 10.5%;
        color: var(--Paragraph-Color, #444);

/* Heading - H7 */
font-family: "Josefin Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
    }
    .links.is.active{
        margin-left: -38.7%;
    }
   
    #Message{
        display: none;
    }
    #Messages{
        padding-top: 35px;
    }
    .messages_imgs{
        padding: 40px;
    }
    .messages_images img{
        margin-bottom: 20px;
    }
    .messages_imgs1{
        background-color: var(--Comon-Colot, #FFF);

        /* 42 */
        box-shadow: 0px 5px 30px 0px rgba(17, 22, 30, 0.08);
        width: 100%;
        height: 614px;
        padding:60px 20px 0 20px;
    }
    .btns{
        text-align: center;
        padding-top: 20px;
    }
    .button.issss{
        background-color: black;
        padding: 5px 10px;
        font-size: 12px;
    }
    .messages_imgs1 h4{
        color: var(--Text-Color, #11161E);

/* Heading - H3 */
font-family: "Josefin Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 46px; /* 127.778% */
    }

    #footer{
        display: none;
    }
    #footers{
        margin-top: 20px;
    }
    .footers_cnt{
        text-align: center;
    }
    .footers_cnt1 h4{
        color: var(--Text-Color, #11161E);

/* Heading - H3 */
font-family: "Josefin Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;

    }
    .footers_cnt1 p{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;

    }
    /* .btn-group.is{
        margin-left: -40%;
        padding: 0 5px;
    }
    .input{
        
        border-top: 1px solid rgb(222, 218, 218);
        border-bottom: 1px solid rgb(242, 235, 235);
    }
    .subscribe{
        border: none;
        padding: 11px 6px;
        background-color: #FF6F61;
        color: var(--Comon-Colot, #FFF);
font-family: "Josefin Sans";
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
    /* } */
    .logos{
        margin-top: 20px;
    }
    .logos_cnt{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 11px;
font-style: normal;
font-weight: 400;
margin-top: 10px;

    }

    

    .btn-group.iss{
        width: 20px;
        display: flex;
        justify-content: left;
        margin-top: 50px;
    }
    input{
        padding: 8px 10px;
        margin-left: 10px;
        color: #8F8F8F;
/* Paragraph/body text */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
border: 1px solid rgb(245, 241, 241);
    }
    .subscribe{
        color: var(--Comon-Colot, #FFF);
font-family: "Josefin Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
border: none;
outline: none;
background-color: #FF6F61;
padding: 0 8px;
    }
    .links.is{
        padding-top: 10px;
    }
    .accounts{
        padding-top: 20px;
    }
    .accounts_cnt{
        text-align: center;
    }
    .accounts_cnt h4{
        color: var(--Text-Color, #11161E);

/* Heading - H4 */
font-family: "Josefin Sans";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 141.667% */
    }
    .accounts_cnt ul li a{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
    }
    .accounts_cnt ul li:hover a{
        color: #FF6F61;
    }
    .contacts_cnt{
        text-align: center;
    }
    .contacts_cnt h4{
        color: var(--Text-Color, #11161E);
font-family: "Josefin Sans";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 141.667% */
    }

    address{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
    }
    .locationss{
        color: #FF6F61;
      
        width: 100vh;
    }
    .addressed{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;

    }
    .phoness{
        color: #FF6F61;
    }
    .phones a{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
    }
    .emailsss{
        color: #FF6F61;
    }
    .emailss a{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;

    }
    .footers_cnt1 .para{
        color: var(--Paragraph-Color, #444);

/* Paragraph/body text */
font-family: Roboto;
font-size: 2px;
font-style: normal;
font-weight: 400;

    }
    .aytor{
        color: #FF6F61;
    }
    .angfuzsoft{
        color: #FF6F61;
    }
    .payments{
        padding: 10px 0;
        
    }
    .facebook.iss{
        color: black;
        padding: 0 10px;
    }
    .instagrram.iss{
        color: black;
        padding: 0 10px;
    }
    .instagrram.iss:hover{
        color: #FF6F61;
    }

    .facebook.iss:hover{
        color: #FF6F61;
    }
    .twitter.iss{
        color: black;
        padding: 0 10px;
    }
    .twitter.iss:hover{
        color: #FF6F61;
    }
    .pinterest.iss{
        color: black;
        padding: 0 10px;
    }
    .pinterest.iss:hover{
        color: #FF6F61;

    }
    .links.is{
        display: flex;
        justify-content: center;
    
    } 





























}





